---
# BasedOnStyle:  Mozilla
AccessModifierOffset: -4
AlignEscapedNewlinesLeft: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: false
AlwaysBreakBeforeMultilineStrings: false
BreakBeforeBinaryOperators: false
BreakConstructorInitializersBeforeComma: false
BinPackParameters: true
ColumnLimit:     80
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerBinding: true
ExperimentalAutoDetectBinPacking: false
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
ObjCSpaceBeforeProtocolList: false
PenaltyBreakComment: 45
PenaltyBreakString: 1000
PenaltyBreakFirstLessLess: 120
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 200
PointerBindsToType: false
SpacesBeforeTrailingComments: 1
SpacesInParentheses: false
Cpp11BracedListStyle: false
Standard:        Auto
IndentWidth:     4
TabWidth:	 4
UseTab:          Always
BreakBeforeBraces: Allman
IndentFunctionDeclarationAfterType: false
...


