.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
desktop.ini
Thumbs.db
CMakeLists.txt.user
*.log
libs
Additional/AndroidApp/obj
Additional/AndroidApp/libs
Additional/AndroidApp/gen
Additional/AndroidApp/bin
Additional/AndroidApp/assets/*
.directory
