[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Terminal=false
Exec=/usr/Neo/ProjectManager
Path=/usr/Neo
Name=Neo Project Manager
GenericName=Neo Project Manager
Categories=Development
Icon=/usr/share/icons/neo-icon.png
StartupWMClass=NeoProjectManager

