[Desktop Entry]
Encoding=UTF-8
Version=0.5
Type=Application
Terminal=false
Exec=/usr/Neo/NeoPlayer2 %f
Path=/usr/Neo
Name=Neo Editor
GenericName=Neo Scene Editor
Categories=Development
Icon=/usr/share/icons/neo-icon.png
Name[de_DE]=Neo Editor
StartupWMClass=NeoEditor
