/*body {
  min-width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

#top {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

#titlearea {
  padding-bottom: 1em;
  border: 0;
}

#titlearea td {
  padding: 0 !important;
}

div.headertitle {
   padding: 0;
}

div.header, div.contents, address.footer {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

div.header {
   background-image: none;
   padding-top: 5px;
}

div.title {
  margin: 10px 0px;
}*/
