
.image img {
	-webkit-box-shadow: 1px 3px 26px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 3px 26px -6px rgba(0,0,0,0.75);
	box-shadow: 1px 3px 26px -6px rgba(0,0,0,0.75);
}

#projectname, #projectnumber, #projectbrief {
    clear: both;
    font-weight: lighter;
    color: #141414;
    font-family: "Open Sans", sans-serif;
}

.tabs, .tabs2, .tabs3 {
    background-image: unset;
    font-size: 1em;
}

.tablist li {
    background-image: unset;
    font-size: 1em;
}

.tablist a:hover {
    background-image: unset;
    color: #109BA5;
}

.tablist a {
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-weight: lighter;
    font-size: 1.2em;

    clear: both;
    color: #141414;
    font-family: "Open Sans", sans-serif;

    background-image: unset;
}

.tablist li.current a {
    background-image: unset;
    clear: both;
    color: #141414;
    font-family: "Open Sans", sans-serif;
}

#nav-tree .selected {
    background-image: unset;
    clear: both;
    color: #141414;
    font-family: "Open Sans", sans-serif;
}

#nav-tree .selected a {
    background-image: unset;
    clear: both;
    color: #141414;
    color: #109BA5;
    font-family: "Open Sans", sans-serif;
}

#nav-tree a {
    clear: both;
    font-size: 1.2em;
}

.ui-resizable-e {
    background-image: unset;
    background-color: #109BA5;
    width: 2px;
}

#titlearea {
    border-bottom: unset;
}

.navpath ul {
    background-image: unset;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: #141414;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 15px;
}

.title,
h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    margin-bottom: 15px;
}

b,
strong {
    font-weight: 600;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 15px;
}

address {
    margin: 0 0 15px;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 1.5rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

a {
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a:hover {
    color: #109BA5;
}